/* Define color variables */
:root {
    --primary-color: #0A1128; /* Oxford Blue */
    --secondary-color: #034078; /* Indigo Dye */
    --accent1-color: #001F54; /* Penn Blue */
    --accent2-color: #1282A2; /* Cerulean */
    
    --heading-font: 'Fira Sans', sans-serif;
    --text-font: 'Roboto', sans-serif;
}

/* General*/
body {
    font-family: var(--text-font);
    color: var(--primary-color);
    margin: 0;
    padding: 0;
    max-width: 800px;
    margin: auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    font-weight: 900;
}

p {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--primary-color);
}

/* Header */
header {
    display: block;
    align-items: center;
    background-color: var(--primary-color);
    padding: 20px;
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-weight: bold;
}

/* Hero Section */
.hero {
    position: relative;
    text-align: center;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 5px;
}

.hero article {
    position: absolute;
    bottom: 10%;
    left: 10%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    width: 40%;
    border-radius: 5px;
}

.hero article img {
    float: right;
    width: 100px;
    margin-left: 10px;
}

/* Adventure Section */
section img {
    width: 18%;
    margin: 1%;
    border-radius: 5px;
}

/* Social Media Links */
.social-links a {
    text-decoration: none;
    margin: 0 10px;
}

footer {
    text-align: center;
    background-color: var(--secondary-color);
    color: white;
    padding: 20px;
}

footer img {
    width: 30px;
}
